body { width: 100%; height: 100%; }

#main_all {
	min-width: 750px;
	width: 70%;
	height: 100%;
	margin: 40px auto;
}
#main_all #header {
    background-color: #FF828B;
    padding: 15px 15px;
    display:table;
    width:100%;
}
#main_all #wrap {
    display:table-row;
}
#main_all #menu_wrapper {
    display:table-cell;
    text-align:center;
    padding-right:5px;
}
#main_all #nav {
    list-style: none;
    padding: 0;
    text-align: center;
}
#main_all #nav li {
	color: #ffffff;
    display:inline-block;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 25px;
}
#main_all #nav label:HOVER {
	color: #702D2D;
	cursor: pointer;
}