@CHARSET "EUC-KR";

table.type09 {
    border-collapse: collapse;
    text-align: center;
    line-height: 1.5;

}
table.type09 thead th {
    padding: 10px;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
    color: #ffffff;
    border-bottom: 3px solid #036;
}
table.type09 tbody th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: middle;
    border-bottom: 0px solid #ccc;
    background: #f3f6f7;
}
table.type09 td {
    width: 350px;
    padding: 10px;
    vertical-align: middle;
    border-bottom: 0px solid #ccc;
    color: #ffffff;
}

table.type10 {
    border-collapse: collapse;
    text-align: center;
    line-height: 1;

}

table.type10 thead th {
    padding: 10px;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
    background: #222222;
    color: #ffffff;
    border-bottom: 3px solid #036;
}

table.type10 td {
    width: 350px;
    padding: 10px;
    vertical-align: middle;
    border-bottom: 0px solid #ccc;
    color: #ffffff;
}
